[submodule "x264/src"]
	path = x264/src
	url = https://git.videolan.org/git/x264.git
[submodule "ffmpeg/src"]
	path = ffmpeg/src
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "SDL2/src"]
	path = SDL2/src
	url = https://github.com/libsdl-org/SDL.git
[submodule "openh264/src"]
	path = openh264/src
	url = https://github.com/cisco/openh264.git
[submodule "faac/src"]
	path = faac/src
	url = https://github.com/knik0/faac.git
[submodule "faad2/src"]
	path = faad2/src
	url = https://github.com/knik0/faad2.git
[submodule "fdk-aac/src"]
	path = fdk-aac/src
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "libyuv/src"]
	path = libyuv/src
	url = https://chromium.googlesource.com/external/libyuv
[submodule "srs/src"]
	path = srs/src
	url = https://github.com/ossrs/srs
[submodule "rtmpdump/src"]
	path = rtmpdump/src
	url = git://git.ffmpeg.org/rtmpdump
[submodule "ZLMediaKit/src"]
	path = ZLMediaKit/src
	url = https://github.com/ZLMediaKit/ZLMediaKit.git
