[submodule "x264/src"]
	path = x264/src
	url = http://git.videolan.org/git/x264.git
[submodule "ffmpeg/src"]
	path = ffmpeg/src
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "SDL2/src"]
	path = SDL2/src
	url = https://github.com/libsdl-org/SDL.git
[submodule "openh264/src"]
	path = openh264/src
	url = https://github.com/cisco/openh264.git
